* {
    margin: 0;
    padding: 0;
}

.imgFondo{
    position: absolute;
    z-index: 1;

}

#titulo{
    position: absolute;
    z-index: 2;
    font-family: 'Pristina';
    color: #636363; 
    font-size: 62px;
    font-weight: lighter;
    padding: 1.5% 1.5% 1.5% 3%;
    
}

#navbar ul{
    position: absolute;
    z-index: 2;
    right: 1.5%;
    list-style:none;
	padding:0px;
    margin:0px;
}

#navbar ul li{

    float: left;
    margin: 10px;
    padding: 2px;
}

#navbar ul li a {

    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 22px;
    font-weight: normal;
    color: #808080;
}

#Inicio {
    position: absolute;
    z-index: 2;
    top: 310px;
    width: 100%;
}

#principal{
    font-family: 'Segoe UI';
    font-size: 68px;
    font-weight: bold;
    text-align: center;
    color: white;   
}

.dot {
    color: #fae314f3;
    font-size: 100px;
}

.secundario{
    font-family: 'Segoe UI';
    font-size: 18px;
    color: white;
    text-align: center;
}

#Inicio nav {

    text-align: center;
}

.boton{
    
    margin: 25px;
    margin-top: 50px;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-left: 75px;
    padding-bottom: 20px;
    padding-right: 75px;
    border-style: solid;
    
}

#sabermas {
   background-color: transparent;
   border: 4px solid white;;
}

#descargar{
    background-color: #fae314f3;
    border: 4px solid #fae314f3;;
}

#Nosotros{
   position: absolute;
   z-index: 2;
   margin-top: 750px;

}

.titulo{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: 750;
    color: #5f5f5f;
}

#secundarioNostros{
    color: #636363;
    margin-top: 50px;
    font-family: 'Segoe UI';
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#porcentajes{
    margin-top: 60px;
    text-align: center;
}

#Proyectos {
    position: absolute;
    z-index: 2;
    margin-top: 1200px;
}

#imgProyectos  {
    text-align: center;
}

#imgProyectos img {
    margin-top: 80px;
    width: 24%;
    height: 235px;
}

#Proyectos h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    color: #5f5f5f;
}

#Testimonios{
    position: absolute;
    z-index: 3;
    margin-top: 1700px;
    width: 100%;
}

#imgTestimonio{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
}

#containerTesti{
    position: absolute;
    z-index: 2;
}

#containerTesti{ 
    text-align: center;
}

#man{
    width: 100px;
    margin-top: 80px;
    margin-bottom: 40px;
}

#containerTesti .secundario{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:40px; 
    background-color: #cecece4f;
    padding: 10px;
}

h4{
    font-family: 'Segoe UI';
    font-size: 20px;
    color: white;
    font-weight: 700;
}

